html, body {
    background-color: white;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
  
body {
    overflow: hidden;
    margin-top: 80px;
    user-zoom: fixed;
    position: fixed;
}

#nav {
    background-color: #141414;
    overflow: hidden;
    position: fixed;
    top: -40px;
    width: 100%;
    height: 40px;
    padding-top: 40px;
    z-index: 99;
}

#innerNav {
  margin-top: 1px;
}

#greetingText {
    line-height: 40px;
    margin-top: 0;
    height: 40px;
    color: white;
    display: inline-flex;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: right;
}

#menubars, #spyderLogo, #x {
    margin: 0;
    padding: 0;
    height: 35px;
    line-height: 35px;
}

#menubars {
    width: 40px;
    opacity: 0;
}

#x {
    margin-left: -36px;
    margin-bottom: 5px;
    height: 25px;
}

.button, .submitButton, .pushButton, .groupedButton, .startGroupedButton, .endGroupedButton, .arrowButton, .onGroupedButton {
    display: inline-block;
    background-color: #141414;
    color: white;
    padding: 5px;
    margin: 0vw;
    font-size: 15px;
    font-weight: bold;
    font-family: Verdana;
    border-radius: 5px;
}

.groupedButton, .onGroupedButton {
    border-radius: 0;
}

.onGroupedButton {
    margin-top: 10px;
}

.startGroupedButton {
    border-radius: 10px 0px 0px 10px;
}

.endGroupedButton {
    border-radius: 0px 10px 10px 0px;
}
  
.selectedButton {
    background-color: #787878;
}

.counter {
  font-size: 14vw;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  display: inline;
  vertical-align: middle;
}

#sidebar {
    top: 40px;
    padding: 0;
    margin: 0;
    z-index: 99;
    position: fixed;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    width: 198px;
    background-color: #141414;
    border: 1px solid #575653;
}

.sidebarButton{
    display: inline-block;
    color: white;
    padding: 0px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: auto;
    font-size: 16px;
    font-weight: bold;
    font-family: Verdana;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #575653;
}

#subNav {
    top: 40px;
    height: 40px;
    width: 100%;
    background-color: #141414;
    border-top: 1px solid #575653;
    display: flex;
    overflow: hidden;
    position: fixed;
    z-index: 99;
}

.subNavButton, .subNavDivider {
    display: inline-block;
    flex: 1;
    color: white;
    padding: 0px;
    margin: auto;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.subNavDivider {
    flex: 0;
    text-align: center;
    border-left: 1px solid #575653;
    height: 20px;
}

.innerDiv, .subNavDiv {
    text-align: center;
    margin: auto;
    width: 100%;
}

.title {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.subTitle {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.notifText {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    display: none;
}

.toggleNotifText {
    color: #eb776e;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    margin-top: 10px;
    padding: 0;
}

.searchInput {
    display: inline-block;
    border-radius: 5px 5px 5px 5px;
    width: 20%;
    border: 1px solid #c5c7c5;
}

.generalDivText {
    font-size: 20px;
}