html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
  
body {
    overflow: hidden;
    margin-top: 40px;
}

#nav {
    background-color: #141414;
    overflow: hidden;
    position: fixed;
    top: -40px;
    width: 100%;
    height: 40px;
    padding-top: 40px;
}

#innerNav {
  margin-top: 1px;
}

#greetingText {
    line-height: 40px;
    margin-top: 0;
    height: 40px;
    color: white;
    display: inline-flex;
    font-weight: bolder;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: right;
}


#menubars, #spyderLogo, #x {
    margin: 0;
    padding: 0;
    height: 35px;
    line-height: 35px;
    transition-duration: 200ms;
}

#menubars {
    width: 40px;
    opacity: 0;
}

#x {
    margin-left: -36px;
    margin-bottom: 5px;
    height: 25px;
}

.button {
    display: inline-block;
    background-color: #141414;
    color: white;
    padding: 5px;
    margin: 0vw;
    font-size: 20px;
    font-weight: bold;
    font-family: Verdana;
    border-radius: 5px;
  }
  
.selectedButton {
    background-color: #787878;
}

#sidebar {
    top: 40px;
    padding: 0;
    margin: 0;
    z-index: 99;
    position: fixed;
    transition-duration: 400ms;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    width: 199px;
    background-color: #141414;
    border: 1px solid #575653;
}

.sidebarButton{
    display: inline-block;
    color: white;
    padding: 0px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: auto;
    font-size: 16px;
    font-weight: bold;
    font-family: Verdana;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #575653;
}

#subNav {
    height: 40px;
    width: 100%;
    background-color: #141414;
    border-top: 1px solid #575653;
    display: flex;
}

.subNavButton, .subNavDivider {
    display: inline-block;
    flex: 1;
    color: white;
    padding: 0px;
    margin: auto;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.subNavDivider {
    flex: 0;
    text-align: center;
    border-left: 1px solid #575653;
    height: 20px;
}